/* controls settings for the entire page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*sets background of body to Light Greyish Green */
body {
  background-color: #d9dcd6;
}
/* controls the background and font of the header */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/* controls placement and font size of "Horiseo" in the header */
header h1 {
  display: inline-block;
  font-size: 48px;
}
/* changes the "seo" in header to a light grey */
header h1 .seo {
  color: #d9dcd6;
}
/* controls the font and placement of the links in the header */
header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* labels the links as a list */
header div ul {
  list-style-type: none;
}
/* sets the links side by side */
header div ul li {
  display: inline-block;
  margin-left: 25px;
}
/* changes all the links in the header to a font color of white*/
a {
  color: #ffffff;
  text-decoration: none;
}
/* controls the font size of all text in  p tags */
p {
  font-size: 16px;
}
/* controls the img below the header */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/* postion the img to the left */
.float-left {
  float: left;
  margin-right: 25px;
}
/* postion the img to the right  */
.float-right {
  float: right;
  margin-left: 25px;
}
/* controls the placement of the information in the article */
article {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* controls the font and placement of the information in the aside*/
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/* controls the placement and font color in the aside */
.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}
/* controls the placement and alignment of h3 tags in the aside */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* controls the placement of the imgs in the aside */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* controls placement and font of the information in the article */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* controls the size of the imgs in the article */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
  max-height: 200px;
}
/* controls the placement and font size of the h2 tags in the article */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* controls font and placement of the footer*/
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/* makes the h2 tags 24px */
h2 {
  font-size: 20px;
}
